@CHARSET "ISO-8859-1";
body {
	background-image: url('../images/bg.jpg');
}

a,a:link {
	color: black;
	text-decoration: none;
	font-size: 16px;
}

a:hover,a:active {
	color: #c4263f;
}

.clear-both {
	clear: both;
}

#page {
	width: 1000px;
	margin: 0px auto;
}

#header{
	border-bottom:2px solid #ff9900;
}

#logo{
	float:left;
	margin-top:20px;
}

#register{
	float:right;
	margin-top:80px;
}

#menu{
	     float:left;
	     margin-top:-10px;
	     width:150px;
	     min-height:200px;
	     border:1px solid #f0eaeb;
	     background-color:#ffffff;
	     box-shadow: 5px 5px 5px #888888;	   
}

#menu ul{
	      padding-left:0px;
}

#menu li{
            list-style-type:none;
            padding:5px 10px 5px 0px;
            text-align:right;
}
 
#menu a:link{
                text-shadow: 1px 1px 1px #d2c8c6;
                color:#d2c8c6;
                font:normal 20px MyriadPro;
}
               
#menu li:hover{
              /*background-image:url('../images/gradient.jpg');
              background-repeat:repeat-x;*/              
  font-size:20px;
  color:#c4263f;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

#menu a:visited{
                text-shadow: 1px 1px 1px #d2c8c6;
                color:#d2c8c6;
                font:normal 20px MyriadPro;
}

#content{
	     margin-left:200px;
	     width:800px;	     
}

#tagline{
	font: normal Ptserif;
	color: #c4263f;	
}

#matter{	
	font: normal 12px Verdana;
	line-height: 20px;
}

#imagecont {
	margin-top:30px;
}

.tags div{
	text-align: center;
	color: white;
	font: normal 16px Ptserif;
	width: 398px;	
	background-color: #ff9900;
	background-image:url('../images/sprite.png');
	background-repeat:no-repeat;
	
}
#book {
	float:left;
	height:25px;
	background-position:125px 10px;
	padding:15px 0px 5px 0px;
}

#quote {
	float:right;
	height:25px;
	background-position:125px -42px;
	padding:15px 0px 5px 0px;
}

#grey {
	background-color: #cccccc;	
	margin-top: 20px;	
}

#text {
	color: #c4263f;
	font: normal 18px Verdana;
	padding: 10px 0px 0px 100px;
}

#imgbox{
	padding:10px 0px 20px 0px;
}

#institutional {
	float:left;
	margin-left: 15px;	
}

#standalone {
	float:right;
	margin-right:8px;
}

#ia1 {
	/*position: absolute;*/
	background-color: black;
	margin-top: -50px;
	margin-left: 15px;
	color: white;
	font: normal 20px ptserif;
	width: 372px;
	height: 36px;
	opacity: 0.6;
	padding: 5px 0px 0px 10px;
}

#sa1{
	background-color: black;
	margin-top: -42px;
	margin-left: 408px;
	color: white;
	font: normal 20px ptserif;
	width: 370px;
	height: 36px;
	opacity: 0.6;
	padding: 5px 0px 0px 10px;
}

#footer{	
	margin-top:40px;
}

#links{
	float: right;
	margin-top:-20px;	
}

#form{
	margin-left:100px;
}

#footer2{
	margin-top:170px;
}


       